<ion-item lines="full">
  <ion-card>
    <img
      *ngIf="isImage"
      loading="lazy"
      [src]="media"
      (click)="onClickMedia($event)"/>
    <video
      *ngIf="isVideo"
      preload="none"
      [autoplay]="true"
      [loop]="true"
      [muted]="true"
      [src]="media"
      (click)="onClickMedia($event)"></video>
    <ion-card-header>
      <ion-card-subtitle>
        {{ name }} · {{ id }} · {{ replies }} · {{ time | timeAgo }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngIf="text" [innerHTML]="text"></ion-card-content>
  </ion-card>
</ion-item>
