<ion-header *ngIf="showHeader" class="app-header-border ion-no-border">
  <ion-toolbar>
    <ion-title *ngIf="title" [innerHTML]="title"></ion-title>
    <ion-buttons *ngIf="showBack" slot="start">
      <ion-back-button defaultHref="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="showClose" slot="start">
      <ion-button (click)="close.emit()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="showSave" slot="end">
      <ion-button (click)="save.emit()">
        Save
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="showSubmit" slot="end">
      <ion-button (click)="submit.emit()">
        Submit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab *ngIf="canScrollToTop" vertical="bottom" horizontal="end" slot="fixed" [@fab]="didScrollDown">
    <ion-fab-button color="dark" (click)="onScrollToTop()">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher *ngIf="canRefresh" slot="fixed" (ionRefresh)="refresh.emit($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-content></ng-content>
</ion-content>
<ion-footer *ngIf="showMedia" class="app-footer-border ion-no-border">
  <ion-toolbar>
    <ion-buttons *ngIf="showClose">
      <ion-button (click)="hasOwnProperty('')">
        <ion-icon name="open-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="hasOwnProperty('')">
        <ion-icon name="copy-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="hasOwnProperty('')">
        <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="download.emit()">
        <ion-icon name="download-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
