<ion-header class="app-header-border ion-no-border">
  <ion-toolbar>
    <ion-title *ngIf="title" [innerHTML]="title"></ion-title>
    <ion-buttons *ngIf="showBack" slot="start">
      <ion-back-button defaultHref="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="showClose" slot="start">
      <ion-button (click)="close.emit()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="showSave" slot="end">
      <ion-button (click)="save.emit()">
        Save
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="showSubmit" slot="end">
      <ion-button (click)="submit.emit()">
        Submit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<app-content [canScrollToTop]="canScrollToTop">
  <ng-content></ng-content>
</app-content>
<ion-footer *ngIf="showMedia" class="app-footer-border ion-no-border">
  <ion-toolbar>
    <ion-buttons *ngIf="showClose">
      <ion-button (click)="hasOwnProperty('')">
        <ion-icon name="open-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="hasOwnProperty('')">
        <ion-icon name="copy-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="hasOwnProperty('')">
        <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="download.emit()">
        <ion-icon name="download-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
