<ion-content [scrollEvents]="canScrollToTop" (ionScroll)="onScroll($event)">
  <ion-fab *ngIf="canScrollToTop" vertical="bottom" horizontal="end" slot="fixed" [@fab]="isFabHidden">
    <ion-fab-button color="dark" (click)="onScrollToTop()">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher *ngIf="canRefresh" slot="fixed" (ionRefresh)="refresh.emit($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-content></ng-content>
</ion-content>
