<ion-header class="app-header-border ion-no-border">
  <ion-toolbar>
    <ion-title>
      {{ board }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="refresh-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink="/b/search">
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink="/b/notifications">
        <ion-icon name="notifications-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="onScrollToTop()">
      <ion-icon name="chevron-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list class="app-profile-hold" lines="full">
    <app-thread *ngFor="let thread of catalog$ | async" [board]="board" [thread]="thread"></app-thread>
  </ion-list>
</ion-content>
