<app-page title="Boards" [canGoBack]="true" [canScrollToTop]="true">
  <ion-list class="app-list" lines="none">
    <ion-item *ngFor="let board of boards" [class.app-disabled]="!isEnabled(board)">
      <ion-label>
        <h2>
          <b>/{{ board.path }}/</b>
        </h2>
        <p>
          {{ board.name }}
        </p>
      </ion-label>
      <ion-chip slot="end" [color]="getColor(board)" [outline]="true" (click)="onToggle(board)">
        <ion-icon [name]="getIcon(board)"></ion-icon>
        <ion-label>
          {{ getLabel(board) }}
        </ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</app-page>
