$app-border-radius: 4px;
$app-border-radius-large: 10px;
$app-breakpoint-large-height: 600px;
$app-breakpoint-large-width: 768px;
$app-disabled-opacity: 0.3;
$app-footer-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.1);
$app-header-avatar-margin: 11px;
$app-header-avatar-size: 35px;
$app-header-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
$app-input-border: 1px solid var(--ion-color-light-shade);
$app-lightbox-background: black;
$app-lightbox-color: white;
$app-searchbar-background-color: rgba(var(--ion-color-medium-rgb), 0.15);
$app-small-font-size: 14px;
$app-space-1: 5px;
$app-space-2: 10px;
$app-space-3: 15px;
$app-space-4: 20px;
$app-space-5: 25px;
$app-toast-media-offset: -56px;
$app-transition: 250ms ease-in-out;

@mixin inline-space($app-space: $app-space-1) {
  & > *:not(:first-child) {
    margin-left: $app-space;
  }
}
