@import './app.scss';

@media only screen and (min-width: $app-breakpoint-large-width) and (min-height: $app-breakpoint-large-height) {
  .modal-wrapper.sc-ion-modal-md {
    border-radius: $app-border-radius-large;
  }
}

a {
  text-decoration: none;
}

ion-button,
ion-segment-button {
  text-transform: none;
}

ion-grid {
  padding-left: $app-space-2;
  padding-right: $app-space-2;
}

ion-item {
  transition: $app-transition;

  &.app-disabled {
    opacity: $app-disabled-opacity;
  }
}

ion-searchbar {
  --border-radius: #{$app-border-radius} !important;
  --box-shadow: none !important;

  & > div.searchbar-input-container.sc-ion-searchbar-md > input {
    transition: $app-transition;
  }

  &:not(.searchbar-has-focus) > div.searchbar-input-container.sc-ion-searchbar-md > input {
    background: $app-searchbar-background-color;
  }
}

ion-segment {
  justify-content: center;
}

ion-segment-button {
  --background-hover-opacity: 0;
}

ion-toolbar ion-avatar {
  cursor: pointer;
  margin-right: $app-header-avatar-margin;
  width: $app-header-avatar-size;
  height: $app-header-avatar-size;
}

.action-sheet-group.sc-ion-action-sheet-md:first-child,
.picker-wrapper.sc-ion-picker-md {
  border-radius: $app-border-radius-large $app-border-radius-large 0 0;
}

.alert-button.sc-ion-alert-md,
.picker-button.sc-ion-picker-md {
  &,
  &.ion-activated {
    text-transform: none;
  }
}

.alert-wrapper.sc-ion-alert-md {
  border-radius: $app-border-radius-large;
}

.app-header-border {
  border-bottom: $app-header-border;
}

.app-modal-fullscreen {
  & > .modal-wrapper {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

.app-modal-lightbox {
  & ion-content,
  & ion-toolbar {
    --color: #{$app-lightbox-color};
    --background: #{$app-lightbox-background};
  }

  & .modal-wrapper {
    --background: transparent;
  }
}

.app-input-block {
  border: $app-input-border;
  border-radius: $app-border-radius;
}

.app-list {
  padding: $app-space-2 0;

  & > * {
    & > ion-item {
      --inner-padding-start: 0;
      --inner-padding-end: 0;
      --padding-top: 0;
      --padding-bottom: #{$app-space-1};
      --padding-start: #{$app-space-1};
      --padding-end: #{$app-space-1};
    }

    &:not(:first-child) > ion-item {
      --padding-top: #{$app-space-1};
    }
  }
}

.app-toast-media {
  top: $app-toast-media-offset;
}

.deadlink {
  color: var(--ion-color-primary-shade);
}

.quote {
  color: var(--ion-color-success-shade);
}
