@import './app.scss';

@media only screen and (min-width: $app-breakpoint-large-width) and (min-height: $app-breakpoint-large-height) {
  .modal-wrapper.sc-ion-modal-md {
    border-radius: $app-border-radius-large;
  }
}

a {
  text-decoration: none;
}

ion-button,
ion-segment-button {
  text-transform: none;
}

ion-grid {
  padding-left: $app-space-2;
  padding-right: $app-space-2;
}

ion-searchbar {
  --border-radius: #{$app-border-radius} !important;
  --box-shadow: none !important;

  & > div.searchbar-input-container.sc-ion-searchbar-md > input {
    transition: $app-transition;
  }

  &:not(.searchbar-has-focus) > div.searchbar-input-container.sc-ion-searchbar-md > input {
    background: $app-searchbar-background-color;
  }
}

ion-segment {
  justify-content: center;
}

ion-segment-button {
  --background-hover-opacity: 0;
}

ion-toolbar ion-avatar {
  cursor: pointer;
  margin-right: $app-header-avatar-margin;
  width: $app-header-avatar-size;
  height: $app-header-avatar-size;
}

.action-sheet-group.sc-ion-action-sheet-md:first-child,
.picker-wrapper.sc-ion-picker-md {
  border-radius: $app-border-radius-large $app-border-radius-large 0 0;
}

.alert-button.sc-ion-alert-md,
.picker-button.sc-ion-picker-md {
  &,
  &.ion-activated {
    text-transform: none;
  }
}

.alert-wrapper.sc-ion-alert-md {
  border-radius: $app-border-radius-large;
}

.app-header-border {
  border-bottom: $app-header-border;
}

.app-input-block {
  border: $app-input-border;
  border-radius: $app-border-radius;
}

.app-profile {
  &-avatar {
    border: $app-profile-avatar-border;
    border-radius: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $app-profile-avatar-size;
    height: $app-profile-avatar-size;
  }

  &-banner {
    width: 100%;
    height: $app-profile-banner-size;
    object-fit: cover;
  }

  &-description {
    font-size: $app-small-font-size;
  }

  &-details {
    @include inline-space($app-space-4);
    display: flex;
    justify-content: center;
    font-size: $app-small-font-size;

    & span {
      margin-left: $app-space-1;
    }
  }

  &-hold {
    padding: $app-space-2 0;

    & > * {
      & > ion-item {
        --inner-padding-start: 0;
        --inner-padding-end: 0;
        --padding-top: 0;
        --padding-bottom: #{$app-space-1};
        --padding-start: #{$app-space-1};
        --padding-end: #{$app-space-1};
      }

      &:not(:first-child) > ion-item {
        --padding-top: #{$app-space-1};
      }
    }
  }

  &-mast {
    padding: 0 $app-space-2 $app-space-2 $app-space-2;
  }

  &-options {
    @include inline-space();
    display: flex;
    justify-content: flex-end;

    & > * {
      margin: 0;
    }
  }

  &-sail {
    height: $app-profile-banner-size;
    margin-bottom: $app-profile-sail-margin;
    position: relative;
  }

  &-subtitle {
    color: var(--ion-color-medium);
  }

  &-title {
    @include inline-space();
    display: flex;
    margin-bottom: $app-space-2;
  }
}
