@import './app.scss';

@media only screen and (min-width: $app-breakpoint-large-width) and (min-height: $app-breakpoint-large-height) {
  .modal-wrapper.sc-ion-modal-md {
    border-radius: $app-border-radius-large;
  }
}

a {
  text-decoration: none;
}

ion-button {
  text-transform: none;
}

ion-grid {
  padding-left: $app-space-2;
  padding-right: $app-space-2;
}

ion-item {
  transition: $app-transition;

  &.app-disabled {
    opacity: $app-disabled-opacity;
  }
}

ion-searchbar {
  --border-radius: #{$app-border-radius} !important;
  --box-shadow: none !important;

  & > div.searchbar-input-container.sc-ion-searchbar-md > input {
    transition: $app-transition;
  }

  &:not(.searchbar-has-focus) > div.searchbar-input-container.sc-ion-searchbar-md > input {
    background: $app-searchbar-background-color;
  }
}

.app-footer-border {
  box-shadow: $app-footer-box-shadow;
}

.app-header-border {
  box-shadow: $app-header-box-shadow;
}

.app-list {
  padding: $app-space-2 0;

  & > * {
    & > ion-item {
      --inner-padding-start: 0;
      --inner-padding-end: 0;
      --padding-top: 0;
      --padding-bottom: #{$app-space-1};
      --padding-start: #{$app-space-1};
      --padding-end: #{$app-space-1};
    }

    &:not(:first-child) > ion-item {
      --padding-top: #{$app-space-1};
    }
  }
}

.app-modal-fullscreen {
  & > .modal-wrapper {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

.app-modal-lightbox {
  & ion-content,
  & ion-toolbar {
    --color: #{$app-lightbox-color};
    --background: #{$app-lightbox-background};
  }

  & ion-header,
  & ion-footer {
    box-shadow: none;
  }

  & .modal-wrapper {
    --background: transparent;
  }
}

.app-no-border {
  border: none;
}

.app-refresher {
  &-refreshing {
    display: -ms-flexbox;
    display: flex;
  }
}

.app-toast-footer {
  top: $app-toast-footer-offset;
}

.deadlink {
  color: var(--ion-color-primary-shade);
  text-decoration: line-through;
}

.quote {
  color: var(--ion-color-success-shade);
}
