@import '../../../theme/app.scss';

:host {
  display: contents;
}

ion-item {
  & > [slot=start] {
    background-color: $app-notification-icon-background;
    border: $app-notification-icon-border;
    border-radius: 100%;
    margin-right: $app-space-3;
    padding: $app-space-2;
  }

  & > [slot=end] {
    margin-left: $app-space-3;
  }
}
