<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      General
    </ion-list-header>
    <ion-item routerLink="/b/boards" [detail]="true">
      <ion-label>
        <h2>
          Boards
        </h2>
        <p>
          Select the boards you want to see
        </p>
      </ion-label>
      <ion-icon name="reader-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item [button]="true" [detail]="true" (click)="onGetHelp()">
      <ion-label>
        <h2>
          Assistance
        </h2>
        <p>
          Get help from the community
        </p>
      </ion-label>
      <ion-icon name="help-buoy-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-list-header>
      Settings
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h2>
          Use thumbnails
        </h2>
        <p>
          Reduce preview network traffic
        </p>
      </ion-label>
      <ion-toggle slot="end" [checked]="useThumbnails" (ionChange)="onToggleUseThumbnails($event)"></ion-toggle>
    </ion-item>
    <ion-item [button]="true" (click)="onHideUnsafeBoards()">
      <ion-label>
        <h2>
          Hide unsafe boards
        </h2>
        <p>
          Some boards may be too graphic
        </p>
      </ion-label>
    </ion-item>
    <ion-list-header>
      About
    </ion-list-header>
    <ion-item [button]="true" (click)="onGetLicenses()">
      <ion-label>
        <h2>
          Open source licenses
        </h2>
        <p>
          Software that helped us
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>
          Version
        </h2>
        <p>
          {{ version }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
