<ion-item>
  <ion-card [button]="true" (click)="onClick($event)">
    <app-media
      [isImage]="isImage"
      [isVideo]="isVideo"
      [media]="media"
      [name]="filename"></app-media>
    <ion-card-header>
      <ion-card-subtitle>
        {{ name }} · {{ id }} · {{ replies }} · {{ time | timeAgo }}
      </ion-card-subtitle>
      <ion-card-title [innerHTML]="title"></ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="text" [innerHTML]="text"></ion-card-content>
  </ion-card>
</ion-item>
