<ion-item>
  <ion-card [button]="true" (click)="onClick($event)">
    <app-media *ngIf="fileCanBePreviewed" [name]="fileName" [type]="fileType" [url]="fileUrl"></app-media>
    <ion-card-header>
      <ion-card-subtitle>
        {{ author }} · {{ id }} · {{ replies }} · {{ time | timeAgo }}
      </ion-card-subtitle>
      <ion-card-title [innerHTML]="title"></ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="text" [innerHTML]="text"></ion-card-content>
  </ion-card>
</ion-item>
